@font-face {
    font-family: 'selectricroman';
    src: url('../fonts/selectricroman.woff2') format('woff2'),
         url('../fonts/selectricroman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: selectricroman, serif;
	color: black ;
	background-color: #45223E;
	background: linear-gradient(100deg, #D6BBBB, #A07171);
}

h1 {
	font-family: selectricmono, monospace;
 color: #000000;
 text-align: center;
}

img {max-width: 70%;
}

body {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
